extends ./layout.jade
block contenido
  h1 bienvenido a Fotofacilito
  div(type="button" class="btn btn-default" href="/login") Iniciar seción
  div(type="button" class="btn btn-default" href="/signup") Registrarse
  a(href="/login") iniciar secion
  br
  a(href="/signup") Registro
