extends ./layout.jade
block contenido
  div(class="center-block text-center")
    h1 bienvenido a Fotofacilito
    a(href="/login" class="btn btn-primary btn-lg right-space" role="button") iniciar secion
    a(href="/signup" class="btn btn-primary btn-lg" role="button") Registro
